{{ define "main" }}
  <h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
  {{ .Content }}

  {{ range .Paginator.Pages.ByWeight }}
    <div class="relative w-100 w-30-l mb4 bg-white">
      <div class="mb3 pa4 mid-gray overflow-hidden">
        <h2 class="f3 near-black">
          <a href="{{ .URL }}" class="link black dim">
            {{ .Title }}
          </a>
        </h2>
        <div class="nested-links f5 lh-copy nested-copy-line-height">
          {{ .Summary  }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
