<div class="alert alert-beta">
  <div>
    <h4><a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">🚀 New docs site coming May 15!</a></h4>
    <p>Heads up! On May 15, the legacy IPFS docs site will be deprecated and this page will be replaced by <a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">its equivalent on the new docs site</a>. Pages will automatically redirect,  but you may wish to update your bookmarks or links after May 15.
  </div>
  <div class="beta-icon">
    <a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}"><img src="/assets/thumbnail-beta-laptop.svg"></a>
  </div>
</div>
