<div class="alert alert-beta">
  <div>
    <h4><a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">View this page on the new IPFS Docs beta</a></h4>
    <p>This content is now available at docs-beta.ipfs.io, a fully redesigned resource with search, reorganized content, and more.</p>
    <p><a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">Go&nbsp;></a></p>
  </div>
  <div class="beta-icon">
    <a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}"><img src="/assets/thumbnail-beta-laptop.svg"></a>
  </div>
</div>
