<div class="alert alert-beta">
  <div>
    <h4><a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">🚀 New docs site coming May 15!</a></h4>
    <p>On May 15, this site will be replaced with the <a href="https://docs-beta.ipfs.io/">new IPFS docs website</a>. You can view this page on the <a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}">new site right now</a>!</p>
  </div>
  <div class="beta-icon">
    <a href="https://docs-beta.ipfs.io/{{ $.Param "beta_equivalent" }}"><img src="/assets/thumbnail-beta-laptop.svg"></a>
  </div>
</div>
