<header class="page-header">
  <a href="{{ relURL .Site.BaseURL }}" title="{{ .Site.Title }}" class="page-logo">
    <img src="{{ relURL .Site.BaseURL }}assets/logo.svg">
  </a>
  <div class="page-title">
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      <span class="page-title__site">
        {{ .Site.Title }}
      </span>
      <span class="page-title__topic">
        - {{ .Page.Title }}
      </span>
    {{ end }}
  </div>

  <button class="menu-button">
    <span class="sr-only">Menu</span>
    <i class="fas fa-bars"></i>
  </button>
</header>
